.container-home {
    flex: 1;                      
    display: flex;
    flex-direction: column;
    justify-content: center;       
    align-items: center;          
    text-align: center;
    background-color: #FFEFD5;    
    padding: 20px;
    box-sizing: border-box;

    img {
        max-height: 250px;   
        width: auto;        
        margin-bottom: 20px;
    }
    
    a {
        background-color: #406C4A;
        text-decoration: none;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
}

