.container-result {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color : #FFEFD5;
    
    
    
    .card-result{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(251, 247, 250, 0.5);
        padding: 10px 60px;
        border-radius: 15px;
        
        .prediction-result {
            margin-bottom: 30px;
            font-size: 1.1rem;
        }
        
        .img-result {
            width: 100%;
            max-width: 500px;
            overflow: hidden;
            border-radius: 600px;
            
            img {
                width: 100%;
                height: auto;
                display: block;
                object-fit: cover
            }
        }
        
        .description-result {
            text-align: center;
            margin-bottom: 40px;
            font-size: 1rem;
        }
        
        .next-action {
            display: flex;
            gap: 20px;
            
            .btn-restart, 
            .btn-stop {
                padding: 12px 25px;
                border-radius: 5px;
                text-decoration: none;
                font-weight: bold;
                color: white;
            }
            
            .btn-restart {
                background-color: #406C4A;
            }
            
            .btn-stop {
                background-color: #f0f0f0;
                color: black;
            }
        }
    }
}